<footer>
  <p>
    <a href='/'>home</a> -- made with <a href="https://glitch.com">glitch</a> by <a href="<%= process.env.SOCIAL_URL %>"
      target="_blank"><%= process.env.SOCIAL_HANDLE %></a>
  </p>
</footer>
